* {
  color: #fff;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 20px;
}

body {
  background-color: #111;
}

.block {
  position: absolute;
  background: black;
  width: 6%;
  height: 55%;
  border-radius: 11px;
  padding: 5px;
  border: 2px solid #fff;
  box-shadow: 5px 3px 3px #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 260px;
  min-height: 240px;
}

ul {
  padding-top: 30px;
  font-weight: bold;
  font-size: 1.2rem;
}

p {
  font-size: 1.1rem;
  font-weight: bold;
}

.color_yellow {
  background-color: yellow;
  user-select: none;
}

.color_red {
  background-color: red;
  user-select: none;
}

.color_orange {
  background-color: orange;
  user-select: none;
}

button {
  position: absolute;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-weight: bold;
  width: 80px;
  height: 30px;
  border-radius: 7px;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}

button:hover {
  background: #fff;
  color: #111;
  cursor: pointer;
}

.sp1 {
  color: red;
}

.sp2 {
  color: orange;
}

.sp3 {
  color: yellow;
}
